.navbar-custom {
    background-color: #fcf9ed;
    height: 80px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link{
    color: black;
    opacity: 0.8;
}

.navbar-custom .nav-item:hover .nav-link{
    color: #ac900d;
} 

.navbar-brand {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 55px;
    color: #d7bd94;
}
.navbar-brand:hover {
    color: black;
}
.navbar-toggler-icon {
    background-image: url("./images/icon-menu.png");
}

.jumbotron {
    background-image: url("images/calm-ocean.png");
    background-size: cover;
    /* height:500px; */
    height:90vh;
    margin: 0;
}

.lead {
    color: white; 
}


.section2 {
    height: 600px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(254,252,246,1) 68%, rgba(252,249,237,1) 100%);
}

.left-text {
    padding-left: 25px;
    padding-right: 35px;
    color: black;
}

.papa-box1 {
    height:60px;
    margin-top: 30px;
    margin-left: -5px;
}

.box {
    height:60px;
    width:210px;
    border-radius:5px;
    display:flex;
    justify-content: end;
    align-items: center;
}

.cta1 {
    text-decoration:none;
    color:white;
}

.cta1:hover {
    text-decoration:none;
    color:white;
}

.btn-top {
    background-color: #d7bd94;
    border: 1px solid black;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition-duration: 0.2s;
}

.btn-top:hover {
    top: 7px;
    left: 7px;
    background-color: #875c36;
}

.btn-btm {
    border: 1px solid black;
    position: relative;
    top: -50px;
    left: 10px;
    z-index: 0;
}

.col-vid {
    display:flex;
    align-items: center;
}

.section3 {
    height: 480px;
}

.papa-box2 {
    /* height:60px; */
    margin-top: 50px;
}

.cta2 { 
    text-decoration: none;
    color: black;
}

.cta2:hover {
    text-decoration: none;
    color:black;
}

.btn-top2 {
    background-color: #fae29c;
    border: 1px solid black;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition-duration: 0.2s;
}

.btn-top2:hover {
    top: 7px;
    left: 7px;
    background-color:#eedc9a;
}

.btn-btm2 {
    border: 1px solid black;
    position: relative;
    top: -50px;
    left: 10px;
    z-index: 0;
}

/* .carousel img {
    max-height: 580px;
    margin: 0 auto;
} */

