.navbar-custom {
    background-color: #fcf9ed;
    height: 80px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link{
    color: black;
    opacity: 0.8;
}

.navbar-custom .nav-item:hover .nav-link{
    color: #ac900d;
} 

.navbar-brand {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 55px;
    color: #d7bd94;
}
.navbar-brand:hover {
    color: black;
}
.navbar-toggler-icon {
    background-image: url("/images/icon-menu.png");
}

.jumbotron {
    background-image: url("images/calm-ocean.png");
    background-size: cover;
    height:500px;
    margin: 0;
}

.lead {
    color: white; 
}

.section2 {
    height: 550px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(254,252,246,1) 68%, rgba(252,249,237,1) 100%);
}

.left-text {
    /* display: flex;
    align-items: center; */
    padding: 35px 80px 0 30px;
    color: black;
}

.col-vid {
    display:flex;
    align-items: center;
}

