.navbar-light {
    background-color: #fcf9ed!important;
}

/* change the link color */
.navbar-light .navbar-nav .nav-link{
    color: black !important;
    opacity: 0.8;
}

.navbar-light .nav-item:hover .nav-link{
    color: #ac900d!important;
} 

.navbar-brand {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 55px;
    color: #d7bd94!important;
}
.navbar-brand:hover {
    color: black;
}
.navbar-toggler-icon {
    background-image: url("./images/icon-menu.png")!important;
}

#background-image {
    background-image: url("./images/background-login.png");
    height: 690px;
}

.container {
    height: 78vh;
    width: 90vw;
    background-color:#fafcfb;
    opacity: 0.95;
    border-radius: 35px;
}

.custom-button{
    width:300px;
    background-color: #875c36;
    color: white;
}

.custom-button:hover {
    background-color:#d7bd94;
}

.cta1 {
    color: black;
}

.footer {
    background-color:#fcf9ed;
}

.footer-link{
    color: black;
}

a:hover {
    color: #ac900d;
    text-decoration: none;
}

h1 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 55px;
    color: #d7bd94;
}

h1:hover {
    color: black;
}

h5 {
    color: grey;
}