.navbar-custom {
    background-color: #fcf9ed;
    height: 80px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link{
    color: black;
    opacity: 0.8;
}

.navbar-custom .nav-item:hover .nav-link{
    color: #ac900d;
} 

.navbar-brand {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 55px;
    color: #d7bd94;
}
.navbar-brand:hover {
    color: black;
}
.navbar-toggler-icon {
    background-image: url("./images/icon-menu.png");
}

.card{
    margin: 0 0.3em 0 0.3em;
}

.section2 {
    height:480px;
}
