.navbar-light {
    background-color: #fcf9ed!important;
}

/* change the link color */
.navbar-light .navbar-nav .nav-link{
    color: black !important;
    opacity: 0.8;
}

.navbar-light .nav-item:hover .nav-link{
    color: #ac900d!important;
} 

.navbar-brand {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 55px;
    color: #d7bd94!important;
}
.navbar-brand:hover {
    color: black!important;
}
.navbar-toggler-icon {
    background-image: url("./images/icon-menu.png")!important;
}

.content2> p{
    margin: 1.3em 0 1.3em 0;
}

.section2 {
    height: 600px;
}

.line{
    border-bottom:4px solid #fcd12a ;
}

.line-short{
    width:40px;
}

.section3 {
    height: 650px;
}

.content3 > p {
    margin: 1.3em 0 1.3em 0;
}

.vidcall img {
    height: 480px;
    margin: 0 0 0 100px;
}

/* .section4 {
    height: 650px;
} */

.content4 > p {
    margin: 1.3em 0 1.3em 0;
}

.join-community img {
    height: 550px;
    margin: 0 0 0 20px;
}

.footer {
    background-color:#fcf9ed;
}

.footer-link{
    color: black;
}

a:hover {
    color: #ac900d;
    text-decoration: none;
}

h1 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 55px;
    color: #d7bd94;
}

h1:hover {
    color: black;
}

h5 {
    color: grey;
}