.navbar-custom {
    background-color: #fcf9ed;
    height: 80px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link{
    color: black;
    opacity: 0.8;
}

.navbar-custom .nav-item:hover .nav-link{
    color: #ac900d;
} 

.navbar-brand {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 55px;
    color: #d7bd94;
}
.navbar-brand:hover {
    color: black;
}
.navbar-toggler-icon {
    background-image: url("/images/icon-menu.png");
}

.content2> p{
    margin: 1.3em 0 1.3em 0;
}

.section2 {
    height: 600px;
}

.line{
    border-bottom:4px solid #fcd12a ;
}

.line-short{
    width:40px;
}

.section3 {
    height: 600px;
}

.content3 > p {
    margin: 1.3em 0 1.3em 0;
}

.vidcall img {
    height: 480px;
    margin: 0 0 0 100px;
}

.section4 {
    height: 600px;
}

.content4 > p {
    margin: 1.3em 0 1.3em 0;
}

.join-community img {
    height: 550px;
    margin: 0 0 0 80px;
}